In [0]:
# Importing library

import pandas as pd
import numpy as np

In [0]:
# Creating dataframe by passing a dict object

sample_df = pd.DataFrame({'Name': ['Ram', 'Raj', 'Raju', 'Raja', 'Ravi', 'Ramu'],
     'Tamil': [88, 70, 40, 20, 65, 88],
     'English': [75, 63, 28, 13, 53, 77],
     'Mathematics': [95, 82, 43, 5, 76, 66],
     'Science': [80, 65, 55, 28, 72, 73],
     'SocialScience': [78, 68, 47, 38, 73, 67]
     })

In [58]:
sample_df

   Name  Tamil  English  Mathematics  Science  SocialScience
0   Ram     88       75           95       80             78
1   Raj     70       63           82       65             68
2  Raju     40       28           43       55             47
3  Raja     20       13            5       28             38
4  Ravi     65       53           76       72             73
5  Ramu     88       77           66       73             67

Let's do some basic details about about DataFrame.

In [59]:
# index
  
sample_df.index

RangeIndex(start=0, stop=6, step=1)

Here Index is a Range Index starts from 0. Pandas by default creates a Range Index (Serial no. from '0') if index is not specified.

In [60]:
# columns

sample_df.columns

Index(['Name', 'Tamil', 'English', 'Mathematics', 'Science', 'SocialScience'], dtype='object')

Returns the column names of a DataFrame.

In [61]:
# dtypes

sample_df.dtypes

Name             object
Tamil             int64
English           int64
Mathematics       int64
Science           int64
SocialScience     int64
dtype: object

The data type of each column.

In [62]:
# size

sample_df.size

36

Returns total number of elements. In this case, 6 rows and 6 columns. 6*6

In [63]:
# shape

sample_df.shape

(6, 6)

Returns a tuple representing the row count, column count of the DataFrame.

In [64]:
# empty

sample_df.empty

False

If DataFrame is empty, return True, if not return False.

In [65]:
# More on empty

df_empty = pd.DataFrame({'A' : []})

df_nan = pd.DataFrame({'A' : [np.nan]})

print(df_empty.empty)
print(df_nan.empty)

df_nan

True
False

    A
0 NaN

NaN is not considered empty!

In [66]:
# head

sample_df.head()

   Name  Tamil  English  Mathematics  Science  SocialScience
0   Ram     88       75           95       80             78
1   Raj     70       63           82       65             68
2  Raju     40       28           43       55             47
3  Raja     20       13            5       28             38
4  Ravi     65       53           76       72             73

Returns first 5 rows by default. We can specify the no. of rows as parameter in head function.

In [67]:
# tail

sample_df.tail()

   Name  Tamil  English  Mathematics  Science  SocialScience
1   Raj     70       63           82       65             68
2  Raju     40       28           43       55             47
3  Raja     20       13            5       28             38
4  Ravi     65       53           76       72             73
5  Ramu     88       77           66       73             67

Same as head. Reading from bottom to top.

In [68]:
# info

sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
Name             6 non-null object
Tamil            6 non-null int64
English          6 non-null int64
Mathematics      6 non-null int64
Science          6 non-null int64
SocialScience    6 non-null int64
dtypes: int64(5), object(1)
memory usage: 416.0+ bytes

Returns summary of a DataFrame.

In [0]:
sample_df.info?

In [70]:
sample_df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Columns: 6 entries, Name to SocialScience
dtypes: int64(5), object(1)
memory usage: 416.0+ bytes

In [71]:
sample_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
Name             6 non-null object
Tamil            6 non-null int64
English          6 non-null int64
Mathematics      6 non-null int64
Science          6 non-null int64
SocialScience    6 non-null int64
dtypes: int64(5), object(1)
memory usage: 732.0 bytes